<div class="bg-content">

</div>

  <div class="container">
    <div class="container-content">

    <p id="notice"><%= notice %></p>

    <h1 class="main-text">Lieux d'intérêt (<%= @flats.count %>)</h1>

    <div class="profile-container">
        <% @flats.each do |flat| %>
        <div class="card-box">
            <img class="img-card" src="<%= flat.photo %>">
            <p class="box-title"><%= flat.name %></p>
            <p class="box-address"><%= flat.address %></p>
            <div class="btn-actions">
              <p><%= link_to 'Démontrer', flat, class: "btn-custom btn-show" %></p>
              <p><%= link_to 'Éditer', edit_flat_path(flat), class: "btn-custom btn-edit" %></p>
              <p><%= link_to 'Détruire', flat, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-custom btn-destroy" %></p>
            </div>
        </div>
        <% end %>

    </div>

  </div>

  <br>

  <div class="container">
    <div id="map"
         style="width: 100%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>


  <%= link_to 'New Flat', new_flat_path %>
</div>
